@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Nanum pen Script";
  background: #f6f6f6;
}

#root{
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App{
  padding: 0px 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.MyButton{
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Nanum pen Script";
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.MyButton_default{
  background-color: #ececec;
  color: #000;
}
.MyButton_positive{
  background-color: #64c964;
  color: #fff;
}
.MyButton_negative{
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */

header{
  display: flex;
  align-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}
header > div{
  display: flex;
}
header .head_text{
  justify-content: center;
  width: 50%;
  font-size: 25px;
}
header .head_btn_left{
  width: 25%;
  justify-content: start;
}
header .head_btn_right{
  width: 25%;
  justify-content: end;
}
header button{
  font-family: "Nanum pen Script";
}


@media (min-width: 650px) {
  .App{
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App{
    width: 90vw;
  }
}